html,body{
    height: 100%;

}

#bs{
    position:absolute;
    margin-bottom: 0;
}

.ui-menu{
    background: #F8F9FA;
    border: 1px solid;
    width: 15%;
    border-radius: 3px ;

}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #6693bc ;
    font-weight: bold ;
    color: #ffffff ;
    
} 

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* .bigModal{
    width:1100px;
    margin-left:-300px;
} */

#form{
    background: #F8F9FA;
    color: rgb(7, 117, 180);
    width: 100%;
    padding-left: 26px;
    padding-top: 15px;
    border-right: 1px solid;
    border-color:#dedfe0;
    overflow-y:scroll;
    display:block;
    height: 100%;

    
    
}
#colonnes{
    height: 100%;


}

#result{
    height: 95%;
    width: 100%;
    padding-top: 15px;
}

tbody {
    display:block;
    width: 100%;
    max-height:800px;
    overflow-y:scroll;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

ul{
    list-style: none;
}

.moreinfo{
    background: #F8F9FA;
    color: rgb(34, 34, 34);
}


#tabthead{
    background: rgb(7, 117, 180);
    color: whitesmoke;
}


#mainform button{
    margin-bottom: 1rem;
    float:right;
}
#secondform{
    margin-top: 5rem;
    border-top: solid 1px ;
    border-color:#dedfe0;
}

#secondform button{
    float:right;
}


.search {
    background: rgb(231, 231, 231);

}
#research{
    float:right;
margin-right:1%;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(7, 117, 180);

}

h2 {
    font-size: 1.5rem;
}

#secondform h3{
    margin-top: 1rem;
}

.moreinfo  .btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.moreinfo  .btn-info, .moreinfo  .btn-success {padding-top: 0;padding-bottom: 0;}
.moreinfo  .btn { margin-bottom:10px; }

#form .btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
#form  .btn-success {padding-top: 0;padding-bottom: 0;}
#form  .btn { margin-bottom:10px; }

label{
    color: rgb(7, 117, 180);
}

#formlogin .btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
#formlogin  .btn-success {padding-top: 0;padding-bottom: 0;}
#formlogin  .btn { margin-bottom:10px; }
#formlogin button{
    float: right;
}

.navcompo {
    height:120px;
    overflow-y: scroll;
}

.navauthor {
    height:120px;
    overflow-y: scroll;
}

.navinterprete {
    height:120px;
    overflow-y: scroll;
}

.navrelease {
    height:130px;
    overflow-y: scroll;
}

.navproducer {
    height:130px;
    overflow-y: scroll;
}

.resultListRelease{
    height:210px;
    overflow-y: scroll;
}
/* .listeCover{
    height:130px;
    overflow-y: scroll;
} */

.containList {
    list-style: none;
    overflow-x: auto;
    width: 95%;
    white-space: nowrap;
}

.containList li {
    background-color: #f3efea;
    margin-right: 25px;
    width: 105px;
    height: 105px;
    display: inline-block;
}





.containList input[type="checkbox"] {
    margin-left: 45%;
  }

.listeMaster{
    height:130px;
    overflow-y: scroll;
}

.navmajor{
    height:100px;
    overflow-y: scroll;
}
.lisInterprete{
    height:100px;
    overflow-y: scroll;
}


#maininfo{
    background-color: rgb(219, 221, 223);
    border-right: solid 1px #bfbfbf;
}

#lastcol{
    padding-top: 15px;
    background-color: rgb(241, 241, 241);   
}

#formsend .btn-success {
    float: right ;
    bottom: 0;
}

#formsend .btn-danger {
    float: right ;
    bottom: 0;
}
#login{
    margin-left: 10px;
    margin-right: 10px;
}
#image{
    padding-top: 15px;
}
#secondcol{
    padding-top: 15px;
    background-color: rgb(241, 241, 241);
}

#part4{
    background-color: rgb(185, 185, 185);
    border-top: solid 1px #bfbfbf;
}
#subform{
    margin: 5px;
}
#annuler{
    margin: 5px;
}
#infoAuthor, #infoDistributor, #infoLabel, #infoComposer{
    margin-left: 30px;
    margin-bottom: 10px ;
    padding-left: 6px;
    padding-right: 6px;
    border: solid 1px rgb(204, 204, 204);
    border-radius: 3px ;
}

#infoInterprete, #infoProducer, #infoRelease{
    border: solid 1px rgb(204, 204, 204);
    border-radius: 3px ;
    padding-bottom: 10px ;
}



