{% extends 'home/index.html.twig' %}
{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Add</button>
    {{ form_end(form) }}
{% endblock %}
